body
{
    text-align: left
    font-family: Arial;
}

h1
{
    font-size: large;
    font-family: Arial;
}

h3
{
    font-size: medium;
    font-family: Arial;</tr>
}
main
{
    font-size: medium;
    font-family: Arial;
}

footer
{
    font-size: small;
}
